<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav id="conditionalNav"></nav>
    <main>
      <h2>Course Detail</h2>
      <div class="courseDetail">
        <div class="card">
          <h3>Course Details</h3>
          <div id="course-detail">
            <h4>Title:</h4>
            <h4>Subject:</h4>
            <h4>Instructor:</h4>
            <h4>Room Number:</h4>

            <h5 id="course-title"></h5>
            <h5 id="course-subject"></h5>
            <h5 id="course-instructor"></h5>
            <h5 id="course-room"></h5>
          </div>
        </div>
      </div>
    </main>
    <script src="/checkAccess.js"></script>
    <script src="/student/courseDetail.js"></script>
  </body>
</html>
