<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Manager - Edit Course</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav id="conditionalNav"></nav>
    <main>
      <h2>Edit Course</h2>
      <div>
        <div class="card">
          <h3>Course Details</h3>
          <div id="user-detail">
            <h4>Title:</h4>
            <h4>Subject:</h4>
            <h4>Room:</h4>
            <span></span>

            <input id="course-title" />
            <input id="course-subject" />
            <input id="course-room" type="number" />
			<span>
				<button id="updateBtn" class="ctaBtn">Update</button>
				<button id="deleteBtn" class="ctaBtn">Delete</button>
			</span>
          </div>
        </div>
      </div>
    </main>

    <script src="/checkAccess.js"></script>
    <script src="/teacher/editCourse.js"></script>
  </body>
</html>
