<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Manager - Profile</title>
	<link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
	<nav id="conditionalNav">
	</nav>
    <main>
      <h2>Profile</h2>
      <div class="userDetail">
        <div class="card">
          <h3>User Details</h3>
          <div id="user-detail">
            <h4>First Name:</h4>
            <h4>Last Name:</h4>
            <h4>Email:</h4>
            <span></span>

            <input id="user-fname" />
            <input id="user-lname" />
            <input id="user-email" />
            <button class="ctaBtn">Update</button>
          </div>
        </div>
      </div>
    </main>
	<script src="/checkAccess.js"></script>
	<script src="/profile.js"></script>
  </body>
</html>
